body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}

.brow{width:29em; clear:both;}
.bhead {width:4em; height: 0.5em; background-color:#5b5bff;float:left;border:0.1em #5b5bff solid }
.cell {width:4em; height: 4em; background-color:#5b5bff;float:left;border:0.1em #5b5bff solid }

.controlpane {width:29em; clear:both; margin-top:5px; text-align:center;}

.scorepane {width:29em; clear:both;   background-color:#4f81bd; margin-top:5px; margin-bottom:5px; text-align:center;}
.scorepane div{
font-weight:bold;
font-size:2em;
}
button{
    padding: 5px;
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    border: 1px solid #385d8a;
    background: #4f81bd;
    box-shadow: 0px 1px 1px rgba(0,0,0,.7);
    position: relative;
}

button:hover{
    background:#639ee5;
}

button:active{
    box-shadow: none;
    top: 1px;
background: rgba(135,198,0, 1);
}



